/* UTILITIES */

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: Arial;
 background-color: #F9F9F9;
}

a {
 text-decoration: none;
}

li {
 list-style: none;
}

.main {
 padding-top: 2em;
 text-align: center;
}

p {
 font-size: 1.3em;
}

/* NAVBAR STYLING STARTS */

.navbar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 10px;
 background-color: #333;
 color: #fff;
}

.nav-links a:not(.active) {
 color: #f2f2f2;
}

.nav-links a:hover {
 color: green;
 transition: 0.5s ease;
}

/* LOGO */

.logo {
 height: 50px;
 width: 50px;
}

.logo-img {
 padding-left: 10px;
 height: 50px;
}

/* NAVBAR MENU */

.menu {
 display: flex;
 gap: 0.3em;
 font-size: 20px;
 white-space: nowrap;
}

.menu li:hover {
 display: block;
 color: green;
 border-radius: 3px;
 transition: 0.5s ease;
}

.menu li {
 padding: 10px 14px;
 text-align: center;
}

.active {
 color: green;
}

/* DROPDOWN MENU */

.services {
 position: relative; 
}

.dropdown {
 background-color: rgb(1, 139, 139);
 padding: 1em 0;
 position: absolute; /*WITH RESPECT TO PARENT*/
 display: none;
 border-radius: 8px;
 top: 35px;
}

.dropdown li + li {
 margin-top: 10px;
}

.dropdown li {
 padding: 0.5em 1em;
 width: 8em;
 text-align: center;
}

.dropdown li:hover {
 background-color: #4c9e9e;
}

.services:hover .dropdown {
 display: block;
}

/* CHECKBOX HACK */

input[type=checkbox]{
 display: none;
} 

/*HAMBURGER MENU*/

.hamburger {
 display: none;
 font-size: 24px;
 user-select: none;
}

/* SURFACE OBS MAPS */

.map {
 height: 50%;
 width: 50%
}

.region {
 list-style-type: none;
 margin-bottom: 1em;
 font-size: 1.1em;
}

.obs {
 height: 50%;
 width: 50%;
}

.plot {
 display: none;
}

/* MODELS */

.slider {
 padding: 1em;
 width: 40%;   
}

.model-plot {
 height: 60%;
 width: 60%;
}

/* ABOUT */

.about {
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 margin-top: 30px;
 margin-left: 15%;
 margin-right: 15%;
 flex-wrap: wrap;
}

.about p {
 text-align: left;
 width: 500px;
 margin-bottom: 50px;
}

.about img {
 width: 500px;
}

/* MOBILE OPTIMIZATION BEGINS HERE */

@media (max-width: 980px) {

/* MOBILE UTILITIES */

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: Arial;
 background-color: #F9F9F9;
}

a {
 text-decoration: none;
}

li {
 list-style: none;
}

.main {
 padding-top: 2em;
 text-align: center;
}

h1 {
 font-size: 3em;
}

p {
 font-size: 2em;
}
    
/* MOBILE NAVBAR */

.navbar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px;
 background-color: #333;
 color: #fff;
}

/* MOBILE LOGO */

.logo {
 height: 120px;
 width: 120px;
}

.logo-img {
 padding-left: 10px;
 height: 120px;
}

/* MOBILE MENU */

.menu { 
 display:none;
 position: absolute;
 background-color:#333;
 right: 0;
 left: 0;
 top: 160px;
 text-align: center;
 font-size: 50px;
 padding-bottom: 25px;
}

.menu li:hover {
 background-color:#333;
 transition: 0.3s ease;
}

.menu li + li {
 margin-top: 1px;
}

input[type=checkbox]:checked ~ .menu{
 display: block;
}

.hamburger {
 display: block;
 font-size: 100px;
}

.dropdown {
 left: 50%;
 top: 30px;
 transform: translateX(35%);
}

.dropdown li:hover {
 background-color: #4c9e9e;
}

/* MOBILE PAGES */

/* SURFACE OBS MAPS */

.map {
 height: 90%;
 width: 90%;
}

.region {
 list-style-type: none;
 margin-top: 1em;
 margin-bottom: 2em;
 font-size: 1.8em;
}

.obs {
 height: 90%;
 width: 90%;
}

.plot {
 display: none;
}

/* MODELS */

.slider {
 padding: 1em;
 width: 60%;   
}

.model-plot {
 height: 90%;
 width: 90%;
}

/* ABOUT */

.about p {
 text-align: center;
 flex: 80%;
 margin-bottom: 50px;
}

.about img {
 flex: 80%;
}

}